from fabric.api import env

def ideas():
    '''
    env.hosts (list) of hosts to deploy to
    env.shell (str) to path of bash - on FreeBSD you'll want "usr/local/bin/bash -l -c"
    env.user (str) ssh username
    env.password (st) ssh password
    '''

    #git setup
    config = {}
    config['parent'] = 'origin'
    config['branch'] = 'master'

    env.hosts = [] # list of IP addresses
    env.shell = "/usr/local/bin/bash -l -c"
    env.user = '' # Your username to log in and deploy as
    env.password = '' # The password for that user

    return config
