{% load humanize voting_tags tags %}

{% for idea in idea_list %}
	<div class="idea">
		<div class="voting">
			<form class="ideavote" id="ideaup{{ idea.id }}" action="/ideas/{{ idea.id }}/upvote/" method="POST">
			      <input type="submit" value="" title="Approve this idea" id="ideauparrow{{ idea.id }}" class="vote up{% if vote and vote.is_upvote %} cast{% endif %}">
			    </form>
				<div class="good_idea"><p>Good idea</p></div>
				<div class="rank{% if idea.score|default:0 < 0 %} negative{% endif %}"><p>{{ idea.score|default:0 }}</p></div>
				<div class="bad_idea"><p>Bad idea</p></div>
			    <form class="ideavote" id="ideadown{{ idea.id }}" action="/ideas/{{ idea.id }}/downvote/" method="POST">
			      <input type="submit" value="" title="This is a bad idea" id="ideadownarrow{{ idea.id }}" class="vote down{% if vote and vote.is_downvote %} cast{% endif %}">
			    </form>
			
		</div><!-- /#voting -->
		<div class="title">
			<h3><a href="{{ idea.get_absolute_url }}" title="View the rest of{{ idea.title }}">{{ idea.title }}</a></h3>
			<p>Posted <span class="date">{{ idea.date|naturalday }}</span> by <span class="author"><a href="#" title="{{ idea.author }}'s profile">{{ idea.author|capfirst }}</a></span></p>
		</div><!-- /.title -->
		<p class="description">{{ idea.description }}</p>
		<div class="under_description">
			<p class="readmore"><a href="{{ idea.get_absolute_url }}" title="Read more">View complete idea</a></p>
			<p class="tags">
				{% for tag in idea.get_tags %}
					<a href="/ideas/tag/{{ tag }}" class="tag" alt="{{ tag }}" title="{{ tag }} tag">{% hashtag tag.name %}</a>
				{% endfor %}
			</p>
		</div>
	</div>
{% endfor %}
